# ~/.aliases: executed by {ba|da|z}sh(1).

# Source function library.
. ~/bin/functions

alias gad='git ad'
alias gbs='git branch-stat'
alias gci='git ci'
alias gco='git co'
alias gds='git diff --shortstat'
alias gl='git l'
alias gm='git m'
alias gpl='git pl'
alias gps='git ps'
alias gst='git st'

alias l='ls -CF'
alias la='ls -A'

# scp w/ resume capability
alias scpr='rsync --partial --archive --compress --progress --verbose --rsh=ssh'

# MIMP (MacOS, Nginx, MySQL, PHP)
alias server.restart="brew services restart mysql && brew services restart php@$PHP_LTS && sudo brew services restart nginx && brew services restart redis"
alias server.stop="brew services stop mysql && brew services stop php@$PHP_LTS && sudo brew services stop nginx && brew services stop redis"
alias tail.php.error="tail -250f $LOCAL/var/log/php_errors.log"
alias uac='update-aws-credentials'
