# ~/.aliases: executed by {ba|da|z}sh(1).

alias gad='git ad'
alias gci='git ci'
alias gco='git co'
alias gl='git l'
alias gm='git m'
alias gpl='git pl'
alias gps='git ps'
alias gst='git st'

alias l='ls -CF'
alias la='ls -A'

# scp w/ resume capability
alias scpr='rsync --partial --archive --compress --progress --verbose --rsh=ssh'

# MIMP (MacOS, Nginx, MySQL, PHP)
alias server.restart='brew services restart mysql && brew services restart php@7.4 && sudo brew services restart nginx'
alias server.stop='brew services stop mysql && brew services stop php@7.4 && sudo brew services stop nginx'
alias tail.php.error='tail -250f /usr/local/var/log/php_errors.log'

alias uac='update-aws-credentials'
