[alias]
  ad = add
  ci = commit
  co = checkout
  l = log --graph --name-status --date=local
  ph = push
  pl = pull
  st = status
[branch]
  autosetupmerge = true
#  autosetuprebase = always
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto
[core]
  autocrlf = false
  compression = 9
  excludesfile = ~/.gitignore
  longpaths = true
[gc]
  auto = 1000
[merge]
  renameLimit = 100000
[pack]
  threads = 0
[pull]
	rebase = false
[push]
  default = simple
[user]
	email = rickypc@users.noreply.github.com
	name = Ricky Huang
