# List of ignore files when you do git status

__pycache__/
*.egg-info
*.py[cod]
.bash_history
.bash_sessions
.cache
.CFUserTextEncoding
.config
.DS_Store
.gcc-version
.MacOSX
.python_history
.searchignore
.Trash
.viminfo
Applications
build
Desktop
dist
Documents
Downloads
Library
Movies
Music
node_modules
Pictures
project.xcworkspace
Public
test-results
xcuserdata
