# List of ignore files when you do git status

__pycache__/
*.egg-info
*.py[cod]
.bash_history
.bash_sessions
.cache
.CFUserTextEncoding
.config
.cups
.DS_Store
.gcc-version
.gradle
.MacOSX
.pylint.d
.python_history
.searchignore
.Trash
.viminfo
.vscode
Applications
build
Desktop
dist
Documents
Downloads
Library
Movies
Music
node_modules
Pictures
project.xcworkspace
Public
test-results
xcuserdata

# Except this files
!.config/Code/User/settings.json
!Library/Application Support/Code/User/settings.json
