"*":
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
      formatOnType: false
    "atom-ide-diagnostics-ui":
      autoVisibility: true
    "atom-ide-outline-view": {}
    "atom-ide-terminal":
      black: "#3f3f3f"
      blue: "#506070"
      brightBlack: "#709080"
      brightBlue: "#94bff3"
      brightCyan: "#93e0e3"
      brightGreen: "#c6dda7"
      brightMagenta: "#ec93d3"
      brightRed: "#dca3a3"
      brightWhite: "#ffffff"
      brightYellow: "#f0dfaf"
      cursorBlink: true
      cursorStyle: "bar"
      cyan: "#8cd0d3"
      documentationMessage: false
      fontFamily: "Source Code Pro"
      green: "#60b48a"
      magenta: "#dc8cc3"
      red: "#705050"
      white: "#dcdccc"
      yellow: "#dfaf8f"
    use:
      "atom-ide-debugger": "default"
      "atom-ide-terminal": "default"
  "atom-python-virtualenv": {}
  "autocomplete-python":
    useKite: false
  "bracket-matcher":
    alwaysSkipClosingPairs: true
    highlightMatchingLineNumber: true
  core:
    allowPendingPaneItems: false
    closeDeletedFileTabs: true
    destroyEmptyPanes: false
    disabledPackages: [
      "about"
      "archive-view"
      "autocomplete-atom-api"
      "autoflow"
      "autosave"
      "background-tips"
      "dev-live-reload"
      "keybinding-resolver"
      "linter"
      "markdown-preview"
      "metrics"
      "open-on-github"
      "package-generator"
      "styleguide"
      "symbols-view"
      "update-package-dependencies"
      "welcome"
      "whitespace"
      "autocomplete-css"
      "autocomplete-html"
      "autocomplete-snippets"
      "autocomplete-plus"
      "language-ruby"
      "language-ruby-on-rails"
      "language-rust-bundled"
      "language-clojure"
      "language-toml"
    ]
    openEmptyEditorOnStart: false
    restorePreviousWindowsOnStart: "always"
    telemetryConsent: "no"
    themes: [
      "zenburn-ui"
      "zenburn-syntax"
    ]
  editor:
    fontFamily: "Source Code Pro"
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "04f06dcc-b813-4b0f-91fc-66b568d2dcd7"
  "file-watcher":
    promptWhenChange: true
  "go-plus":
    panel:
      displayMode: "closed"
  "highlight-selected":
    highlightInPanes: false
  "ide-php":
    memoryLimit: "512M"
  "ide-typescript": {}
  linter:
    lintOnChange: false
    lintOnOpen: true
    lintPreviewTabs: false
  "linter-eslint":
    disabling: {}
    global: {}
  "linter-flake8":
    maxComplexity: 10
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "linter-phpcs":
    autoExecutableSearch: false
    disableWhenNoConfigFile: true
  "linter-phpmd":
    autoExecutableSearch: false
    disableWhenNoConfigFile: true
    rulesOrConfigFile: [
      ".phpmd.xml"
    ]
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "tree-view":
    alwaysOpenExisting: true
    autoReveal: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
