"*":
  "autocomplete-python":
    useKite: false
  core:
    destroyEmptyPanes: false
    disabledPackages: [
      "linter"
    ]
    telemetryConsent: "no"
    themes: [
      "zenburn-ui"
      "zenburn-syntax"
    ]
  editor:
    fontFamily: "Consolas"
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "04f06dcc-b813-4b0f-91fc-66b568d2dcd7"
  "linter-ui-default":
    panelHeight: 235
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "platformio-ide-terminal":
    ansiColors:
      normal:
        black: "#2f2f2f"
        blue: "#506070"
        cyan: "#8cd0d2"
        green: "#7f9f7f"
        magenta: "#dc7ebb"
        red: "#704f50"
        white: "#dcdbcd"
        yellow: "#dfaf8f"
      zBright:
        brightBlack: "#709080"
        brightBlue: "#94c0f3"
        brightCyan: "#93e0e3"
        brightGreen: "#c6dda7"
        brightMagenta: "#ebafdc"
        brightRed: "#dca2a3"
        brightYellow: "#f0dfaf"
    core: {}
    style: {}
  welcome:
    showOnStartup: false
