"*":
  "atom-ide-ui":
    use:
      "atom-ide-busy-signal": "default"
      "atom-ide-code-actions": "default"
      "atom-ide-code-format": "default"
      "atom-ide-code-highlight": "default"
      "atom-ide-console": "default"
      "atom-ide-datatip": "default"
      "atom-ide-debugger": "default"
      "atom-ide-definitions": "default"
      "atom-ide-diagnostics": "default"
      "atom-ide-diagnostics-ui": "default"
      "atom-ide-find-references": "default"
      "atom-ide-global": "default"
      "atom-ide-outline-view": "default"
      "atom-ide-signature-help": "default"
      "atom-ide-terminal": "default"
      hyperclick: "default"
  "atom-python-virtualenv": {}
  "autocomplete-python":
    useKite: false
  core:
    allowPendingPaneItems: false
    closeDeletedFileTabs: true
    destroyEmptyPanes: false
    disabledPackages: [
      "linter"
      "whitespace"
      "welcome"
      "metrics"
    ]
    openEmptyEditorOnStart: false
    restorePreviousWindowsOnStart: "always"
    telemetryConsent: "no"
    themes: [
      "zenburn-ui"
      "zenburn-syntax"
    ]
  editor:
    fontFamily: "Consolas"
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "04f06dcc-b813-4b0f-91fc-66b568d2dcd7"
  "file-watcher":
    promptWhenChange: true
  "linter-flake8":
    maxComplexity: 10
  "linter-ui-default":
    panelHeight: 235
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      "minimap-autohider": true
      "minimap-autohiderDecorationsZIndex": 0
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "platformio-ide-terminal":
    ansiColors:
      normal:
        black: "#2f2f2f"
        blue: "#506070"
        cyan: "#8cd0d2"
        green: "#7f9f7f"
        magenta: "#dc7ebb"
        red: "#704f50"
        white: "#dcdbcd"
        yellow: "#dfaf8f"
      zBright:
        brightBlack: "#709080"
        brightBlue: "#94c0f3"
        brightCyan: "#93e0e3"
        brightGreen: "#c6dda7"
        brightMagenta: "#ebafdc"
        brightRed: "#dca2a3"
        brightYellow: "#f0dfaf"
    core: {}
    style: {}
  welcome:
    showOnStartup: false
