packages: [
  "atom-ide-ui"
  "atom-python-virtualenv"
  "build-gradle"
  "busy-signal"
  "editorconfig"
  "file-icons"
  "file-watcher"
  "go-plus"
  "highlight-selected"
  "ide-csharp"
  "ide-java"
  "ide-php"
  "ide-python"
  "ide-typescript"
  "intentions"
  "language-docker"
  "language-gitignore"
  "language-gradle"
  "language-groovy"
  "language-ini"
  "language-protobuf"
  "language-twig"
  "linter"
  "linter-eslint"
  "linter-flake8"
  "linter-jshint"
  "linter-phpcs"
  "linter-phpmd"
  "linter-python-pep8"
  "linter-sass-lint"
  "linter-twig"
  "markdown-preview-plus"
  "package-sync"
  "pigments"
  "refactor"
  "sort-lines"
  "tree-view-git-status"
  "zenburn-syntax"
  "zenburn-ui"
]
