packages: [
  "atom-ide-ui"
  "atom-python-virtualenv"
  "busy-signal"
  "editorconfig"
  "file-icons"
  "file-watcher"
  "go-debug"
  "go-plus"
  "go-signature-statusbar"
  "highlight-selected"
  "ide-css"
  "ide-json"
  "ide-php"
  "ide-python"
  "ide-typescript"
  "ide-yaml"
  "intentions"
  "language-docker"
  "language-gitignore"
  "language-ini"
  "language-protobuf"
  "language-twig"
  "linter"
  "linter-eslint"
  "linter-flake8"
  "linter-phpcs"
  "linter-phpmd"
  "linter-python-pep8"
  "linter-sass-lint"
  "linter-twig"
  "markdown-preview-plus"
  "package-sync"
  "pigments"
  "sort-lines"
  "tree-view-git-status"
  "zenburn-syntax"
  "zenburn-ui"
]
