packages: [
  "atom-beautify"
  "atom-ide-ui"
  "atom-python-virtualenv"
  "autocomplete-python"
  "autocomplete-robot-framework"
  "build-gradle"
  "busy-signal"
  "editorconfig"
  "file-icons"
  "highlight-selected"
  "hyperclick"
  "hyperclick-robot-framework"
  "ide-flowtype"
  "ide-java"
  "ide-php"
  "ide-python"
  "ide-typescript"
  "intentions"
  "js-refactor"
  "language-docker"
  "language-gitignore"
  "language-gradle"
  "language-ini"
  "language-restructuredtext"
  "language-robot-framework"
  "language-twig"
  "linter"
  "linter-flake8"
  "linter-jshint"
  "linter-phpcs"
  "linter-phpmd"
  "linter-python-pep8"
  "linter-sass-lint"
  "linter-twig"
  "linter-ui-default"
  "markdown-scroll-sync"
  "package-sync"
  "platformio-ide-terminal"
  "python-tools"
  "refactor"
  "rst-preview"
  "script"
  "tree-view-git-status"
  "zenburn-syntax"
  "zenburn-ui"
]
