@import "syntax-variables";

// style the background color of the tree view
.tree-view {
  background-color: #3f3f3f;
}

.tree-view .selected:before {
  background-color: #2b62cd;
}

// style the background and foreground colors on the atom-text-editor-element itself
atom-text-editor {
  font-weight: bold;
}

// style UI elements inside atom-text-editor
atom-text-editor .cursor {
  // border-color: red;
}

atom-text-editor .wrap-guide:nth-of-type(1) {
  background-color: fadeout(#a5a5a5, 60%);
  width: 1px;
}

atom-text-editor .wrap-guide:nth-of-type(2) {
  background-color: fadeout(green, 60%);
  width: 2px;
}

atom-text-editor .wrap-guide:nth-of-type(3) {
  background-color: fadeout(yellow, 60%);
  width: 3px;
}

atom-text-editor .wrap-guide:nth-of-type(4) {
  background-color: fadeout(red, 60%);
  width: 4px;
}

.tab-bar {
  background: #3c3f41;
}

.tab-bar li.tab.active, .tab-bar li.tab.active::before, .tab-bar li.tab.active::after {
  border-bottom: 2px solid #487988;
}

.atom-dock-resize-handle {
  background: #323232;
}

.atom-dock-resize-handle.left, .atom-dock-resize-handle.right {
  width: 2px;
}

.list-tree li.list-item.selected > span.name {
  color: #ffffff;
}

/*
.list-tree li.list-item.selected::before {
  background-color: #4182C4;
  box-shadow: inset -3px 0 0 rgba(0, 0, 0, 0.05);
}
*/

.list-tree li.list-item.status-added > .name,
.list-tree li.list-nested-item.status-added > .list-item {
  color: #704f50;
}

.list-tree li.list-item.selected.status-added > .name,
.list-tree li.list-nested-item.selected.status-added > .list-item {
  color: #dca2a3;
}

.list-tree li.list-item.status-ignored > .name,
.list-tree li.list-nested-item.status-ignored > .list-item {
  color: #506070;
}

.list-tree li.list-item.status-modified > .name,
.list-tree li.list-nested-item.status-modified > .list-item {
  color: #dfaf8f;
}

.list-tree li.list-item.selected.status-modified > .name,
.list-tree li.list-nested-item.selected.status-modified > .list-item {
  color: #f0dfaf;
}

.list-tree li.list-item.status-removed > .name,
.list-tree li.list-nested-item.status-removed > .list-item {
  color: #dc7ebb;
}

.list-tree li.list-item.selected.status-removed > .name,
.list-tree li.list-nested-item.selected.status-removed > .list-item {
  color: #ebafdc;
}

.list-tree li.list-item.status-renamed > .name,
.list-tree li.list-nested-item.status-renamed > .list-item {
  color: #8cd0d2;
}

.list-tree li.list-item.selected.status-renamed > .name,
.list-tree li.list-nested-item.selected.status-renamed > .list-item {
  color: #93e0e3;
}

.outline-view .list-tree li.outline-view-item > .list-item > span,
.outline-view .list-tree li.outline-view-item > span > span:nth-of-type(2),
.outline-view .list-tree li.outline-view-item.selected > .list-item > span,
.outline-view .list-tree li.outline-view-item.selected > span > span:nth-of-type(2) {
  font-weight: 600;
}
